body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

h1 {
    margin: 0px;
}

h2 {
    text-align: center;
}

cite {
    display: inline-block;
    width: 100px;
    height: 20px;
}

ul {
    margin: 0px;
}

body > header {
    background-color: orange;
    display: flex;
    height: 9vh;
    align-items: center;
    justify-content: space-around;
    
}

#navul {
    display: flex;
    
}

#navul > li {
    padding: 8px;
    margin: 16px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

body > main article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content div {
    width: 70%;
}


#logo {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 8px 8px 10px 3px darkorange;
    width: 25%;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

form {
    text-align: center;
}

img {
    border-radius: 100%;
    size: 250px;
}

body > footer {
    background-color: orange;
    display: flex;
}

.footerul {
    display: flex;
    list-style: none;
}

.footerul > li {
    margin-left: 15px;
}

.footerul > li > a {
    text-decoration: none;
    color: white;
}